#nav{
	min-height: 55px;
}

#nav > .item:first-child{
	border-right: 0;
}


#home{
	padding-top: 55px;
}

#slider .item img{
	height: 85vh;
}

#main-container section:nth-child(even){
	background: #fafafa;
}

#main-container section:nth-child(even){
	background: #F5F5F5;
}

#main-container section{
	padding-top: 9em;
	padding-bottom: 5em;
}

#main-container section header{
	margin-bottom: 5em;
}

#main-container section header .header{
	font-size: 2.5em;
}

#column-menu-products .header{
	padding: 0 16px;
}

#column-products .cards{
	margin-top: 0;
	margin-bottom: 0;
}

#column-products .card{
	margin-top: 0;
}

#column-products [data-content]:not(.active){
	display: none;
}


#column-aboutus div{
	padding-bottom: 3em;
}

#column-aboutus div p,
#column-aboutus div ul li{
	font-size: 1.2em;
	line-height: 2em;
	text-align: justify;
}

#column-aboutus div .header{
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#column-aboutus div .header:first-of-type{
	margin-top: 0;
}


footer{
	background: #757575;
	color: #F5F5F5;
	padding: 3em;
}

footer .ui.segment .header{
  font-weight: 500;
  font-size: 24px;
}

footer .segment p{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}



/* 3rd-party and Customs */
.modal .content.scrollable{
    overflow-y: auto;
    height: 450px;
}

.modal .content.scrollable > * {
  height: 100%;
}

.ui.grid.field{
  margin-top: 0 !important;
}

.ui.grid.field .column,
.ui.grid.fields .column{
  padding: 0 14px;
}

.ui.grid.field label:not(.button),
.ui.grid.fields label:not(.button){
  text-align: right;
  padding-top: 7px !important;
  width: 100%;
}

.ui.grid.field:last-child,
.ui.grid.fields:last-child{
  margin-bottom: 1.5em;
}

label.button input[type="radio"]{
  display: none;
}