#modal-medication {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 35rem !important;
    right: 0 !important;
    left: 0 !important;
}

#modal-medication .content {
	background: #FAFAFA;
	overflow-y: scroll;
	height: 25rem;
}