@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i';

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color: #f5f5f5;
}

body.dimmable.dimmed > .dimmer{
    background-color: #00BCD4;
    color: #FFFFFF;
}

#nav-main {
    background-color: #03A9F4;
    border-bottom: 2px solid #0097A7;
}

#nav-main .item {
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

#nav-main .item:hover {
    background-color: #0288D1;
}

#dropdownProfile > .menu.transition {
    animation-duration: 200ms !important;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    transition-duration: 200ms !important;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

#dropdownProfile > .menu > .item {
    transition-property: background-color !important;
    transition-duration: 200ms !important;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

#app > .row > .column{
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

#pos-left > .ui.buttons{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ui.error.label {
    background-color: #FFFFFF;
    border: 1px solid #FF5252;
    color: #FF5252;
    line-height: 19px;
    position: absolute;
}

/* Button Color Override */

.ui.red.button {
    background-color: #FF5252;
    color: #FAFAFA;
}

.ui.red.button:hover {
    background-color: #e53935;  
}

.ui.red.button:focus {
    background-color: #d32f2f;
}

.ui.red.button:active{
    background-color: #c62828;
}

.ui.green.button {
    background-color: #4caf50;
    color: #FAFAFA;
}

.ui.green.button:hover {
    background-color: #43a047;
}

.ui.green.button:focus {
    background-color: #388e3c;
}

.ui.green.button:active {
    background-color: #2e7d32;
}

/*************************************/

.ui.scrollable.table {
    display: flex;
    flex-direction: column;
}

.ui.scrollable.table > thead,
.ui.scrollable.table > tbody,
.ui.scrollable.table > tfoot {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
}

.ui.scrollable.table > thead > tr,
.ui.scrollable.table > tbody > tr,
.ui.scrollable.table > tfoot > tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ui.scrollable.table > thead > tr > th,
.ui.scrollable.table > tbody > tr > td,
.ui.scrollable.table > tfoot > tr > td {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1px;
}

.ui.scrollable.table > tbody {
    height: 400px;
    overflow-y: overlay;
    overflow-x: hidden;
}

.ui.scrollable.table > tbody::-webkit-scrollbar {
    border-radius: 0;
    background-color: #BDBDBD;
    width: 6px;
}

.ui.scrollable.table > tbody::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.ui.scrollable.table > tbody::-webkit-scrollbar-thumb {
    background-color: #03A9F4;
}

table#table-pos{
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #212121;
    text-align: center;
}

table#table-pos > thead {
    border-bottom: 2px solid #bdbdbd;
}

table#table-pos > thead > tr > th{
    background-color: #FFF;
    border: 0;
    color: #757575;
    font-size: 1em;
    padding: 15px 5px;
}

table#table-pos > tbody > tr {
    color: #212121;
    border-bottom: 1px solid #BDBDBD;
}

table#table-pos > tbody > tr#row-no-product {
    flex-grow: 1
}

table#table-pos > tbody > tr > td {
    border: 0;
    padding: 15px 5px;
    vertical-align: middle;
}

table#table-pos > tbody > tr > td:first-child > .ui.button {
    background-color: #FF5252;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #FFFFFF;
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

table#table-pos > tbody > tr > td:first-child > .ui.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

table#table-pos > tbody > tr > td > .ui.quantity.input > input {
    border-radius: 0;
    border: 1px solid #BDBDBD;
    color: #212121;
    display: inline-block;
    padding: 3px;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

table#table-pos > tbody > tr > td > .ui.quantity.input > input:focus {
    border: 1px solid #03A9F4;
}

table#table-pos tfoot > tr > td:first-child{
    padding: 0;
}

/*
*   Sub-POS Styles
*/

table#table-subpos{
    border: none;
    border-radius: 0;
    color: #ffffff;
}

table#table-subpos > tbody > tr {
    background-color: #757575;
}

table#table-subpos > tbody > tr > td{
    border-top: 1px solid #BDBDBD;
}

/*
*   Right POS styles
*/

#menu-category {
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
}

#menu-category > .item {
    background-color: #ffffff;
    box-shadow: 0 6px 6px -6px rgba(0,0,0,0.16), 0 6px 6px -6px rgba(0,0,0,0.23);
    border: 0;
    border-left: 1px solid #BDBDBD;
    color: #757575;
    margin-bottom: 6px;
    transition-property: box-shadow, background-color, color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

#menu-category > .item:first-child {
    border-left: 0;
}

#menu-category > .active.item {
    box-shadow: none;
    background-color: #FF5252;
    color: #FAFAFA;
}

#menu-category::-webkit-scrollbar {
    background-color: #FFFFFF;
    height: 6px;
}

#menu-category::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

#menu-category::-webkit-scrollbar-thumb {
    background-color: #03A9F4;
}

#search-product {
    margin-top: 1em;
}

#segment-products {
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex: 1 0 auto;
    margin-top: 1em;
    padding: 2em;
}

#cards-products {
    font-size: 0.9em;
}

#cards-products > .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition-property: box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

#cards-products > .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(-3px);
}

#cards-products > .card > .blurring.dimmable > :not(.dimmer) {
    filter: blur(0px) grayscale(0);
    transition-property: filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

#cards-products > .card:hover > .blurring.dimmable > :not(.dimmer) {
    -webkit-filter: blur(5px) grayscale(0.7);
    filter: blur(5px) grayscale(0.7);
}

#cards-products > .card > .blurring.dimmable > .ui.dimmer {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    display: none;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

#cards-products > .card:hover > .dimmable.image > .ui.dimmer {
    display: block;
}

#cards-products > .card > .dimmable.image .ui.button {
    box-shadow: none !important;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
