.clearfix::before,
.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

 .product.tab.segment{
    padding: 2em 0;
 }

 .toolbar {
    margin-bottom: 1em;
 }

/* Input inside Table rows */
.table .ui.input {
    width: 100%;
}

/* Label as Button with radio inside */
label.button input[type="radio"]{
  opacity: 0;
  position: absolute;
}

 /* Patient Modal */
 .patient.modal {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 35em !important;
    right: 0 !important;
    left: 0 !important;
}

.patient.modal > .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.patient.modal .content > .header {
    border-bottom: 0;
    text-align: center;
}

.patient.modal .content >  .buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto 1rem auto;
    width: 80%;
}

.patient.modal > .content > .buttons > .button {
    display: inline-block;
}

.patient.modal .content > .table {
    margin: 0;
    border-bottom: 0;
}

.patient.modal .content > .table > tbody > tr > td:first-child {
    text-align: right;
}

 /* Remove lag on loading dropdown animation */
 .ui.loading.dropdown > i.icon:after {
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
}

/* Form inside Card */
.ui.form .card .content .section {
    margin-bottom: 1rem;
}

.ui.form .card .content .section:last-child {
    margin-bottom: 0;
}

.ui.form .card .content .section .ui.header {
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ui.form .card .content .ui.grid {
    margin-top: 0;
    margin-bottom: 0;
}

/* Header element inside Card Content */
.ui.card .content .ui.header {
    margin-top: 0;
    margin-bottom: 1em;
}

.ui.card .content .ui.header:last-child {
    /* margin-bottom: 0; */
}

 .ui.form.message{
    z-index: 1031;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
 }

.ui.form.message .header{
    margin-right: 1em;
}
 
.ui.form .ui.input.error input {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
}

 #card-img-preview{
    margin: 0;
 }

.field .message {
    display: none;
}

.field.error {
    color: #9F3A38;
}

.field.error .message {
    display: inline-block;
}

.field.error .message::before {
    clear: both;
    content: "";
    display: table;
}

.field.error #card-img-preview{
    background: #FFF6F6;
    color: #9F3A38;
    border-radius: '';
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #E0B4B4;
}

.field.error #card-img-preview label{
    color: #FFFFFF;
}

#card-img-preview .image{
    width: 100%;
    height: 285px;
    overflow: hidden;
    position: relative;
}

 #card-img-preview .image img{
    width: auto;
    max-width: 100%;
    max-height: 285px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
 }

 #card-img-preview .header{
    word-wrap: break-word;
 }

 #table-grouped-products{
    margin: 0;
 }

 #content-top{
    margin-bottom: 1em;
 }

 #form-product section{
    transition: opacity 1s;
    display: none;
    opacity: 0;
 }

 #form-product section.active{
    opacity: 1;
    display: block;
 }

.modal .content .loader.active{
    color: rgba(0,0,0,0.87) !important;
}

.modal .content .loader.active:after{
    border-color: #767676 transparent transparent !important;
}

.modal .content.scrollable{
    overflow-y: auto;
    max-height: 33em;
}

.modal .content.scrollable > * {
  height: 100%;
}

.ui.grid.field{
  margin-top: 0 !important;
}

.ui.grid.field .column,
.ui.grid.fields .column{
  padding: 0 14px;
}

.ui.grid.field label:not(.button),
.ui.grid.fields label:not(.button){
  text-align: right;
  padding-top: 7px !important;
  width: 100%;
}

.ui.grid.field:last-child,
.ui.grid.fields:last-child{
  margin-bottom: 1.5em;
}

#table-actions{
    margin-bottom: 1em;
}

/* Global Styles */

html, body {
    height: 100%;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    min-height: calc(100% - 43px);
    background-color: #fff;
}

#page-message .ui.message {
    margin-bottom: 1rem;
}


@media(min-width:768px) {
    #page-wrapper {
        padding: 6rem 1rem 1rem calc(18rem + 1rem);
    }

    #main{
      margin-top: 43px !important;
    }
}

.ui.menu > .brand.item:hover {
    background: transparent !important;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* File Image Upload */
.file-preview{
    border: 0;
}

.file-preview-frame{
    float: none;
    margin-right: auto;
    margin-left: auto;
}


/* Fixes Data Table wrong styling */
table.dataTable.table td,table.dataTable.table th {
    -webkit-box-sizing:border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

#table-patients_filter{
    float: right;
}